#container {
    width: 100%;
    margin: 0 auto;
}

.heading {
    height: 40px;
    display: block; 
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.division-two {
    display: flex;
    flex-direction: row;
}

.left-50 {
    display: block;
    width: 50%;
    flex: 50%;
}

.right-50 {
    display: block;
    width: 50%;
    flex: 50%;
}

.left-35 {
    display: block;
    width: 35%;
    flex: 35%;
}

.right-65 {
    display: block;
    width: 65%;
    flex: 65%;
}

.division-three {
    display: flex;
    flex-direction: row;
}

.d-33 {
    display: block;
    width: 33%;
    flex: 33%;
}

.entire {
    margin: auto;
    display: block; 
    text-align: center;
}
