#container {
    width: 100%;
    margin: 0 auto;
}

#header {
    height: 40px;
    display: block; 
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#top {
    display: flex;
    flex-direction: row;
}

#left {
    display: block;
    width: 35%;
    flex: 35%;
}

#right {
    display: block;
    width: 65%;
    flex: 65%;
}

#bottom {
    margin: auto;
}
