{% extends 'layout.html' %}
{% block content %}

<link rel="stylesheet" href="{{cdn_css | safe}}" type="text/css" />
<script type="text/javascript" src="{{cdn_js | safe}}"></script>
<link rel="stylesheet" href="../static/style.css">

<!-- Feature Changes -->
<div class="heading">
    <p class="text-info">THAY ĐỔI THUỘC TÍNH ĐẦU VÀO</p>
</div>
<div class="card card-style mb-2">
    <div class="card-body">
        <form action="#" method="POST">
            <fieldset class="form-group">
                <div class="form-group">
                    {{ change_feature_form.feature.label(class="form-control-label") }}
                    {{ change_feature_form.feature(class="form-control form-control-sm") }}
                </div>
                <div class="form-group">
                    {{ change_feature_form.category.label(class="form-control-label") }}
                    {{ change_feature_form.category(class="form-control form-control-sm") }}
                </div>
                <div class="form-group border-bottom">
                    {{ change_feature_form.submit(class="btn btn-outline-info") }}
                </div>
            </fieldset>
        </form>
    </div>
</div>

<!-- General Dashboard -->
<div id="container">
    <div class="heading">
        <p class="text-info">THÔNG TIN CHUNG VỀ BỘ DỮ LIỆU WHEATHER FORECAST</p>
    </div>
    <hr>
    <div class="heading">
        THỐNG KÊ MÔ TẢ CỦA BỘ DỮ LIỆU
    </div>
    <hr>
    <div class="entire">
        {{ df_statistics | safe }}
    </div>
    <hr>
    <div class="division-two">
        <div class="left-50">
            {{div[0] | safe}}
        </div>
        <div class="right-50">
            {{div[1] | safe}}
        </div>
    </div>
    <div class="division-two">
        <div class="left-35">
            {{div[2] | safe}}
        </div>
        <div class="right-65">
            {{div[3] | safe}}
        </div>
    </div>

    <!-- Time series plot -->
    <hr>
    <div class="heading">
        <p class="text-info">TIME SERIES PLOT</p>
    </div>
    <hr>
    <div class="entire">
        {{div[4] | safe}}
    </div>

    <!-- Regression plots -->
    <hr>
    <div class="heading">
        <p class="text-info">REGRESSION PLOTS</p>
    </div>
    <hr>

    <div class="entire">
        {{div[5] | safe}}
    </div>
    <hr>
</div>

<!-- Strategy Changes -->
<div class="heading">
    <p class="text-info">THAY ĐỔI CHIẾN LƯỢC ĐIỀN KHUYẾT</p>
</div>
<div class="card card-style mb-2">
    <div class="card-body">
        <form action="#" method="POST">
            <fieldset class="form-group">
                <div class="form-group">
                    {{ change_strategy_form.strategy.label(class="form-control-label") }}
                    {{ change_strategy_form.strategy(class="form-control form-control-sm") }}
                </div>
                <div class="form-group border-bottom">
                    {{ change_strategy_form.submit(class="btn btn-outline-info") }}
                </div>
            </fieldset>
        </form>
    </div>
</div>

<!-- So sánh -->
<hr>
<div class="heading">
    <p class="text-info">SO SÁNH GIỮA GIÁ TRỊ ĐIỀN KHUYẾT VÀ GIÁ TRỊ THẬT</p>
</div>

{% if strategy == 'All' %}
<div class="heading">
    <p class="text-info">PHƯƠNG PHÁP: ALL (GAN, kNN & Random từ Q1 đến Q3)</p>
</div>
<div class="division-three">
    <div class="d-33 heading">GAN</div>
    <div class="d-33 heading">kNN</div>
    <div class="d-33 heading">Random từ Q1 đến Q3</div>
</div>
<hr>
{% else %}
<hr>
<div class="heading">
    <p class="text-info">PHƯƠNG PHÁP: {{ strategy }}</p>
</div>
<hr>
{% endif %}

<div class="entire">
    {{div[6] | safe}}
</div>

{{script[0] | safe}}
{{script[1] | safe}}
{{script[2] | safe}}
{{script[3] | safe}}
{{script[4] | safe}}
{{script[5] | safe}}
{{script[6] | safe}}

{% endblock %}