{% extends 'layout.html' %}
{% block content %}

<link rel="stylesheet" href="{{cdn_css | safe}}" type="text/css" />
<script type="text/javascript" src="{{cdn_js | safe}}"></script>
<link rel="stylesheet" href="../static/style.css">


<div id="container">
    <div class="heading">
        <p class="text-info">DS105 DASHBOARD</p>
    </div>

    <hr>

    <!-- Charts -->
    <div class="division-two">
        <div class="left-50">
            {{div[0] | safe}}
        </div>
        <div class="right-50">
            {{div[1] | safe}}
        </div>
    </div>
    <div class="division-two">
        <div class="left-35">
            {{div[2] | safe}}
        </div>
        <div class="right-65">
            {{div[3] | safe}}
        </div>
    </div>
    <div class="entire">
        {{div[4] | safe}}
    </div>
    <hr>

    <!-- GAN -->
    <div class="heading">
        <p class="text-info">GAN MODEL</p>
    </div>
    <hr>
</div>

{{script[0] | safe}}
{{script[1] | safe}}
{{script[2] | safe}}
{{script[3] | safe}}
{{script[4] | safe}}

{% endblock %}