{% extends 'layout.html' %}
{% block content %}

<link rel="stylesheet" href="{{cdn_css | safe}}" type="text/css" />
<script type="text/javascript" src="{{cdn_js | safe}}"></script>
<link rel="stylesheet" href="../static/style.css">

<!-- Feature Changes -->
<div class="heading">
    <p class="text-info">THAY ĐỔI THUỘC TÍNH ĐẦU VÀO</p>
</div>
<div class="card card-style mb-2">
    <div class="card-body">
        <form action="#" method="POST">
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.feature.label(class="form-control-label") }}
                    {{ form.feature(class="form-control form-control-sm") }}
                </div>
                <div class="form-group">
                    {{ form.category.label(class="form-control-label") }}
                    {{ form.category(class="form-control form-control-sm") }}
                </div>
                <div class="form-group border-bottom">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </fieldset>
        </form>
    </div>
</div>

<!-- Dashboard -->
<div id="container">
    <div class="heading">
        <p class="text-info">DS105 DASHBOARD</p>
    </div>

    <hr>

    <!-- Charts -->
    <div class="division-two">
        <div class="left-50">
            {{div[0] | safe}}
        </div>
        <div class="right-50">
            {{div[1] | safe}}
        </div>
    </div>
    <div class="division-two">
        <div class="left-35">
            {{div[2] | safe}}
        </div>
        <div class="right-65">
            {{div[3] | safe}}
        </div>
    </div>
    <div class="entire">
        {{div[4] | safe}}
    </div>
    <hr>

    <!-- GAN -->
    <div class="heading">
        <p class="text-info">GAN MODEL</p>
    </div>
    <hr>
</div>

{{script[0] | safe}}
{{script[1] | safe}}
{{script[2] | safe}}
{{script[3] | safe}}
{{script[4] | safe}}

{% endblock %}